body {
  margin: 0;
  padding: 0;
  background-color: #ff9999;
}
#maincontainer {
  margin-top:80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
form {
  background-color: blue;
  width: 30%;
  height: 80%;
  margin: 5px;
}
input {
  height: 50px;
  width: 95%;
  margin: 5px;
  font-size: 25px;
}

table {
  width: 100%;
}
button {
  width: 100%;
  height: 70px;
  font-size: 20px;
  outline: none;
}
#c {
  background-color: red;
}
@media (max-width: 800px) {
  #maincontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20%;
  }
  form {
    background-color: blue;
    width: 80%;
    height: 80%;
    margin: 5px;
  }
  input {
    height: 50px;
    width: 95%;
    margin: 5px;
    font-size: 25px;
  }
  table {
    width: 100%;
  }
  button {
    width: 100%;
    height: 70px;
    font-size: 20px;
    outline: none;
  }
  #c {
    background-color: red;
  }
}
